* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: rgba(10, 17, 23, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.spacemaker {
    color: rgba(10, 17, 23, 1);
}

.pink {
    color: rgba(255, 180, 211, 1);
}

.lightblue {
    color: lightblue;
}

.yellow {
    color: rgb(247, 247, 83);
}

.purple {
    color: rgb(174, 33, 174);
}

.grey {
    color: rgba(80, 95, 109, 1)
}
.light-grey{
    color: rgba(226, 226, 226, 1)
}

.black {
    color: rgba(16, 21, 26, 1);
}

.brown{
    color: rgba(77, 55, 5, 1);
}

.background-yellow {
    background-color: rgba(219, 226, 104, 1);
}

.background-darkyellow{
    background-color: rgba(255, 200, 3, 1);
}

.background-blue {
    background-color:rgba(119, 230, 255, 1);
}

.background-pink {
    background-color:rgba(226, 193, 249, 1);
}

.text-grey {
    color: rgba(131, 149, 167, 1);
}

.more-arrow {
    margin-top: -12px;
}

.title-font {
    font-size: 55px;
}
.mini-title{
    font-size: 45px;
}
.text-font{
    font-size: 25px;
}
.mini-text {
    font-size: 18px;
    opacity: 0.7;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 41px;
    gap: 30px;

    .logo {
        color: white;
        font-size: 30px;

    }

    .pink {
        color: pink;

    }


    .navigatie {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .button-login {
        background-color: #333534;
        border: none;
        color: white;
        padding: 10px 32px;
        font-size: 16px;
        border-radius: 15px;
        font-weight: bold;
    }
}

.star-ready {
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 300px;
    margin-top: 150px;
}

.more-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;

    .tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 80%;
        width: 60%;


        .roundblock {
            border-radius: 10px;
            background-color: rgba(24, 38, 50, 1);
            padding: 10px 30px;
        }
    }
}

.projects-started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .big-pic {
        background-color: black;
        border-radius: 30px;
    }

    .small-pic {
        margin-top: -25px;
    }
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    gap: 30px;
    margin-top: 100px;

    .star-placer {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }

    .second-star {
        margin-top: -35px;
    }
}

.works-with-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .works-with-stars {
        display: flex;
        justify-content: center;
        margin-top: 90px;
        font-size: 55px;
        gap: 20px;




        .left-star {
            margin-top: -35px;
            position: relative;
        }

        .right-star {

            margin-top: -25px;

        }
    }

    .works-with-logos {
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-top: 60px;

        .logo-name-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .logo-pic {
            border-radius: 40px;
            background-color: rgba(18, 30, 40, 1);
            border-style: groove;
            border-width: 1px;
            border-color: rgba(42, 55, 68, 1);

        }
    }


}


footer{
    display: flex;
    background-color: rgba(18, 30, 40, 1);
    height: 168px;
    margin-top: 200px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 22px;

    .spacemaker-footer{
        color: rgba(18, 30, 40, 1) ;
    }

    .footer-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1140px;
        height: 168px;
        gap: 151px;


        .footer-text{
            display: flex;
            gap: 56px;
        }

        .footer-icons{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}
